<div class="section_best relative mt-6">
    <div class="video-player">
        <video src="{{ asset('build/images/mov_bbb.mp4') }}" class="w-full" class="video"></video>
        <button class="play-btn absolute left-1/2 top-1/2"> <span></span></button>
    </div>
    <div class="flex flex-row items-end absolute bottom-5 left-5">
        <div class="poster">
            <img src="{{ asset('build/images/poster.jpg') }}" alt="" width="80px" height=110px>
        </div>
        <div class="desc ml-3">
            <p class="title font-semibold text-white">
                Le Fondateur
            </p>
            <p class="subtitle text-white">
                Le Fondateur Bande-annonce VF
            </p>
        </div>
    </div>
</div>
