<video src="mov_bbb.mp4" class="w-full aspect-video" controls></video>
<div class="name text-2xl text-gray-500 font-semibold mt-5">Vaina la légende du bout du monde Bande-annonce VF</div>
<div class="text-blue-900 text-xs font-medium flex flex-row mt-5">
    <span class="font-normal">Film:</span>Vaina,la légende du bout du monde Bande-annonce VF
    <div class="rate-yellow flex flex-row items-center ml-2">
        <div class="fill mr-1">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="fill mr-1">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="fill mr-1">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="fill mr-1">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="fill mr-1">
            <i class="fa-solid fa-star-half-stroke"></i>
        </div>
    </div>
    <span class="text_bg mr-2">4,4 </span> pour 1529 utilisateurs
</div>